
body {
    background-color: floralwhite;
}

.homeContent {
padding: 25%;
text-align: center;
margin: auto;
}

.timer {
    text-align: right;
    font-size: medium;
    margin-top: 20px;
}

.highScores {
    text-align: left;
    float: left;
    font-size: medium;
    margin-top: 20px;
    color:  rgb(191, 138, 241);
}

.startBtn {
    border-radius: 0.5rem;
    background-color: rgb(191, 138, 241);
    text-shadow: black;
}

.containerQuestions {
    
}